<!-- Home Page layout -->

<%- include('./layouts/header') %>

<div style="text-align: center;">
  <h1 class="title">San Jose State University Hospital</h1>
  <div class="tutorial-info">
    <ol class="tutorial-info" style="list-style-type: none;">
      <li><b>Welcome to</b> </li>
      <li><b>San Jose University Hospital</b> </li>
      <li><b>Home Page</b> </li>
    </ol>
  </div>
</div>

<%- include('./layouts/footer') %>



